//
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}
.bg-primary {
  background-color: #5eb319 !important;
}
.bg-secundary {
  background-color:rgba(#5eb319, 0.18)  !important;
}
.bg-alert {
  background-color:rgba(#ee0909, 0.18)  !important;
}

.btnsul {
  list-style-type: none !important;
  padding: 0;            /* Quita el relleno predeterminado del ul */
  display: flex;         /* Hace que los elementos li se ordenen en fila */
  justify-content: center; /* Centra los elementos li horizontalmente */
}
.container
{
 min-height: 100vh;
 margin-top: 5em !important;
 }
//footer general Login
.bg-footer {
  background-color: #5eb319 !important;
  color: #fff;
  padding: inherit;
  margin-bottom: -1rem;
  margin-right: -35px;
  margin-left: -25px;
  width: calc(100% + 60px); /* Suma de los valores negativos de margen derecho e izquierdo */
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
}

/* Para cubrir la parte inferior debajo del footer */
.footer-cover {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Ajusta la altura según sea necesario */
  background-color: #5eb319; /* Mismo color de fondo que el footer */
}

/* Para cubrir el lado derecho */
.footer-cover-right {
  position: fixed;
  bottom: 0;
  right: 0;
  left: auto; /* Establece el lado izquierdo como "auto" para que la propiedad right funcione correctamente */
  height: 100%; /* Cubre toda la altura de la ventana del navegador */
  background-color: #5eb319; /* Mismo color de fondo que el footer */
}



//footer general Dashboards
.bg-footer-dashboard {
  background-color: #5eb319 !important;
  color: #fff;
  padding: 20px; /* Agregar relleno interno */
  margin-bottom: -1rem;
  margin-right: 0;
  margin-left: 94px;
  width: 100%; /* Utilizar el ancho completo */
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  display: flex; /* Usar flexbox para alinear verticalmente */
  align-items: center; /* Alinear el contenido verticalmente */
}

/* Para cubrir la parte inferior debajo del footer */
.footer-cover {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Ajusta la altura según sea necesario */
  background-color: #5eb319; /* Mismo color de fondo que el footer */
}

/* Para cubrir el lado derecho */
.footer-cover-right {
  position: fixed;
  bottom: 0;
  right: 0;
  left: auto; /* Establece el lado izquierdo como "auto" para que la propiedad right funcione correctamente */
  height: 100%; /* Cubre toda la altura de la ventana del navegador */
  background-color: #5eb319; /* Mismo color de fondo que el footer */
}


.bg-header-1 {
  height: 40px; padding: 8px 0; background: #5eb319; color: #fff; box-sizing: border-box; max-width: auto; margin: 0 auto;

}
.form-control .was-validated .form-control:invalid {
  border-color: #fa5c7c;
  padding-right: calc(1.5em + 0.9rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.225rem) center;
  background-size: calc(0.75em + 0.45rem) calc(0.75em + 0.45rem);
}
.hederComponente{
  border-color: #ccc5c6;
  background: rgba(#598855, 0.10)  !important;
  padding-right: calc(1.5em + 0.9rem);
  background-repeat: no-repeat;
  color: rgb(92, 89, 89);
  border-radius: 4px;
  background-position: right calc(0.375em + 0.225rem) center;
  background-size: calc(0.75em + 0.45rem) calc(0.75em + 0.45rem);
  height: 3em;
    padding: 0.5em 3em 3em 3em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23fa5c7c'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fa5c7c' stroke='none'/%3e%3c/svg%3e");
    background-position: right 0.9rem center, center right 3.4rem;
    background-size: 16px 12px, calc(0.75em + 0.45rem) calc(0.75em + 0.45rem);
}
.isinvalid{
  border-color: #ccc5c6;
  background: rgba(#fa5c7c, 0.20)  !important;
  padding-right: calc(1.5em + 0.9rem);
  background-repeat: no-repeat;
  color: rgb(92, 89, 89);
  border-radius: 4px;
  background-position: right calc(0.375em + 0.225rem) center;
  background-size: calc(0.75em + 0.45rem) calc(0.75em + 0.45rem);
  height: 3em;
    padding: 0.5em 3em 3em 3em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23fa5c7c'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fa5c7c' stroke='none'/%3e%3c/svg%3e");
    background-position: right 0.9rem center, center right 3.4rem;
    background-size: 16px 12px, calc(0.75em + 0.45rem) calc(0.75em + 0.45rem);
}
.bg-header-2 {
  display: grid;
  background-color: #ffffff !important;
  color: #3a3939;
  height: 12rem;
  border-color: #3a3939;
  align-content: space-evenly;
  justify-content: center;
  align-items: baseline;
}
.headerImg{
  position: relative;
  padding: 0rem 0rem 0rem 2rem;
  margin-left: 0rem;
  margin-top: 3rem;
}
.headerLogo{
  position: relative;
  padding: 0rem 0rem 0rem 2rem;
  margin-left: auto;
  margin-top: 3rem;
}
.contenedor{
  margin-top: -13rem;
}
.derechaColumnEnviarSolicitud{
  height: 100%;
  padding: 0em 0em 1em 2em;
}
.headerTitulo, .center-text{
  background-color: var(--muted-1-5);
  font-size: 21px;
  margin: 0;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: normal;
  margin-left: auto;
  font-size: x-large;
  font-weight: 900;
}
.headerTitulo{
  margin-top: 3rem;
  width: max-content;

}
.rich-editor-wrapper{
  width: 45.5em;
  height: 20em;

}
.center-text{
  width: max-content;
  padding: 7rem;
  }
  .btnenagendar{
    overflow: auto;
    margin-top: -75em;
    position: relative;
    margin-left: 62em;
  }
  .btn-grid-actas{
    overflow: auto;
    margin-top: 0em;
    position: relative;
    margin-left: 80em;
  }
  .btn-grid-consolidado{
    overflow: auto;
    margin-top: 0em;
    position: relative;
    margin-left: 55em;
  }
.center-text-titulo{
    width: max-content;
    text-align: center !important;
    margin-left: 10px;
    font-size: 24px;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    flex: none;
    }
.btnCerrar{
  margin-left: 1.1rem ;
  margin-top:  -5px;
}
.btnInicio,.btnInicio1 {
  border-color: #c2c5c1;
  background: #5eb319; -webkit-box-shadow: 0px 10px 25px -20px rgba(0,0,0,0.62); -moz-box-shadow: 0px 10px 25px -20px rgba(0,0,0,0.62); box-shadow: 0px 10px 25px -20px rgba(0,0,0,0.62);
  box-shadow: $box-shadow;
  margin-bottom: $grid-gutter-width;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: $font-size-base;
  width: 15.5em;
  height: 7em;
}
.btnInicio1 {
  position: relative !important;

}
.dripicons-preview{
  position: relative !important;
  width: 16em !important;

}
.btn-menu{
  margin-left: -5.5em;
  margin-top: 1em;
  margin-top: 0em;
}
.text-btn{
  font-size: $font-size-base;
  border-color: #fff;
  color: #fff;
  margin-top: 1em;
  margin-left: -3.5em;
}
.btnhistorial{
  border-color: #fff;
  margin-right: 42em;
  margin-top: 1.2em;
}
.btnregresar{
  border-color: #fff;
  margin-top: 1em;
  margin-right: 10em;
}
.swal-style-p {
  font-size: 1.2em; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  display: block; /* Asegura que cada etiqueta esté en su propia línea */
  margin-bottom: 10px; /* Espaciado debajo de cada etiqueta */
  color: #5eb319; /* Color del texto */
}

.swal-confirm-button-class {
  background-color: #5eb319 !important; /* Color de fondo del botón */
  color: white !important; /* Color del texto del botón */
}


.spinner-border {
  --bs-text-opacity: 1;
  color: rgba(94, 179, 25, var(--bs-text-opacity)) !important; /* Color personalizado */
  --bs-spinner-width: 2rem;
  --bs-spinner-height: 2rem;
  --bs-spinner-vertical-align: -0.125em;
  --bs-spinner-border-width: 0.25em;
  --bs-spinner-animation-speed: 0.75s;
  --bs-spinner-animation-name: spinner-border;
  border-right-color: currentcolor;
  background: transparent  !important;
  border: var(--bs-spinner-border-width) solid;
  border-right: var(--bs-spinner-border-width) solid #0000;
}

.spinner-border, .spinner-grow {
  animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name);
  border-radius: 50%;
  display: inline-block;
  height: var(--bs-spinner-height);
  vertical-align: var(--bs-spinner-vertical-align);
  width: var(--bs-spinner-width);
}

.flexRowContent--header___grid__nivel_2 {
  position: relative !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1em;
  place-items: center;
  /* Equivale a... */
  justify-items: center;
  align-items: center;
  place-content: center;
  /* Equivale a... */
  justify-content: center;
  align-content: center;
  background: #fff; -webkit-box-shadow: 0px 10px 25px -20px rgba(0,0,0,0.62); -moz-box-shadow: 0px 10px 25px -20px rgba(0,0,0,0.62); box-shadow: 0px 10px 25px -20px rgba(0,0,0,0.62); width: 100%; height: 180px; padding: 0 10% 7rem; margin: 0 auto;
}
.flexRowContent--header_actas___grid__col_1 {
  position: relative !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1em;
  place-items: left;
  /* Equivale a... */
  justify-items: left;
  align-items: left;
  place-content: left;
  /* Equivale a... */
  justify-content: left;
  align-content: left;
  background: #f7f5f5;
  margin-bottom: 1em;
  font-size: 0.8em;
}
.flexRowContent--header_actas___grid__col_2 {
  position: relative !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1em;
  place-items: left;
  /* Equivale a... */
  justify-items: left;
  align-items: left;
  place-content: left;
  /* Equivale a... */
  justify-content: left;
  align-content: left;
  background: #f7f5f5;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.flexRowContent--header_actas___grid__col_3 {
  position: relative !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1em;
  place-items: left;
  /* Equivale a... */
  justify-items: left;
  align-items: left;
  place-content: left;
  /* Equivale a... */
  justify-content: left;
  align-content: left;
  background: #f7f5f5;
  margin-bottom: 1em;
  font-size: 0.8em;
}
.headerActas{
  margin-left: 3em;
  margin-top: 1em;
  padding: 0em 0em 0em;
}
.headerActas_datos_estudiantes{
  margin-left: 3em;
  margin-top: 0em;
  padding: 0em 0em 0em;
}
.header_actas_titulos{
  font-size: small;
  align-content: left;
  align-content: left;
  color: rgb(17, 17, 17);
  padding: 0em 0em;
  font-weight: 900;
}
.btnenviarSolicitud{
  position: relative;
  left: 33em;
  margin-top: -12em;
}

.zIndex{
  overflow: auto;
  z-index: 1;
}

.editTitulos,.titleFechaHora{

  font-size: small;
  color: crimson;
  padding: 0em 2.8em;
  font-weight: 900;
  align-content: left;
  align-content: left;
}
.titleFechaHora{
  width: 146%;
  margin-top: 1.2em;
  margin-left: -2em;
}
.uploadSolicitud, .uploadSolicitudAprendiz,.uploadSolicitudFechaHora {
    padding: 0em 0em 0em;
    cursor: pointer;
    font-size: revert;
    margin-top: -2em;
    &:focus,
    &:active {
        border: 0.1em solid #10300563;
        text-decoration: none;
        background: $gray-100;
        transition-duration: .05s;
    }
}
.uploadSolicitudFechaHora{
  margin-top: -4em;
  margin-left: 23em;
}
.uploadSolicitudAprendiz{
  margin-top: -0.7em;
}


.fotoUser{
  margin-top: -19.5rem !important;
}
.fotoUserSw{
  margin-top: -41.5rem !important;
}
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}
.fc, fc-media-screen, fc-direction-ltr, fc-theme-bootstrap {
  height: 39em;
  width: auto;
}

.flexRowContent--header___grid__nivel_2_col1,
.flexRowContent--header___grid__nivel_2_col2,
.flexRowContent--header___grid__nivel_2_col3
{
  position: relative !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 3px;

}


.flexCol--header___grid__nivel_2_col1 {
  padding: 1px;
  border-right: 1px solid #044B92;
  width: 16em !important;
  margin-right: 3.5em;

}

.flexCol--header___grid__nivel_2_col2 {
  padding: 1px;
  border-right: 1px solid #044B92;
  width: 19em !important;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.flexCol--header___grid__nivel_2_col3 {
  padding: 1px;
  width: 28em !important;
  margin-right: 5em;
}
.grid_contenedor_logo {
  position: relative !important;
  /* Equivale a... */
  width: 90%;
  padding: 0 0 4em;
  .logo_contenedor{
    padding: 0 0 0em;
    margin-left: 43.0em;
    margin-top: 1em;
  }
}
.grid_contenedor {
  position: relative !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  place-items: center;
  /* Equivale a... */
  justify-items: center;
  align-items: center;
  place-content: center;
  /* Equivale a... */
  justify-content: center;
  align-content: center;
  width: 90%;
  height: 180px;
  padding: 0 0 4em;

  .row-btns-nivelI{
    padding: 1em 1em 2em 32em;
    margin-top: 15em;
    position: relative;
    width: 90%;
    margin-right:13em;
  }
}

.grid_btn1,
.grid_btn2,
.grid_btn3,
.grid_btn4
{
  position: relative !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 0px;

}
.grid_btn1 {
  padding: 1px;

  margin-right: 15em;
}
.grid_btn2 {
  padding: 1px;
  margin-right: 14em;
}

.grid_btn3 {
  padding: 1px;
  width: 4em !important;
  margin-right: 13em;
}
.grid_btn4{
  padding: 1px;
  width: 4em !important;
  margin-right: 10em;
  margin-left: -2em;
}
.btn-primary {
  color: #fff;
  background-color: #afd1a4;
  border-color: #01480c;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #313A46;
}
.formModal{
  background-color: #eaeef1;
  padding: 1em;
  border: 1px solid #e1d9d9;
  border-radius: 0.8rem;
}
.tableComite {
  font-size: 0.9em;
}
.logo_comite_inicio{
  margin-left: 20.5em;
  padding: 1em;
  margin-bottom: 3em;
  margin-top:7em;
}
.cardAprendiz{
  background-color: #bee0b563 !important;
}
.inputAprendiz{
  background-color: #74c95863 !important;
  border: 0.1em solid #74c95863;
  height: 30px;
  width: 50px;
  &:focus,
  &:active {
      border: 0.1em solid #74c95863;
      text-decoration: none;
  }
}
.indicador_novedades{
  position: sticky;
  background: #ff0081;
  bottom: calc(100% + 1em);
  height: 25px;
  width: 25px;
  margin-top: 0.11em;
  margin-left: -4.4em;
  box-sizing: content-box;
  border: 0.25em solid #fafbfe;
  border-radius: 50%;
  z-index: 99999 !important;
  overflow: visible;
  font-size: 0.7em;
  color: cornsilk;
}
.indicador_novedades_label{
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 0.9em;
  padding: 0.7em  0em;
}
/*
.react-datepicker__time-container,
.react-datepicker__time,
.react-datepicker__time-box {
  height: 150px;
  width: 26em;
}
 */
// Fix event bubbling on iOS devices
@supports (-webkit-overflow-scrolling: touch) {
  body {
    cursor: pointer;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  .container
  {
   min-height: 100vh;
   margin-top: 5em !important;
   }
  /* Estilos para pantallas medianas (tablets) */
      .grid_contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 9em);
        margin-top: 12em;
        height: 474px;
        margin-left: 5em;
        padding: 0em 7em 10em 0em;

    }
    .flexRowContent--header___grid__nivel_2 {
      position: relative !important;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1, 4em);
      grid-gap: 1em;
      gap: 0em;
    }
    .headerTitulo {
      margin-top: 3em;
      /* width: max-content; */
      font-weight: 900;
      height: 4em;
      width: 14em;
      padding: 1em 4em;
    }
    .headerLogo {
      margin-top: -3em;
    }
    .container
     {
      min-height: 100vh;
      margin-top: 5em !important;
      }
      .bg-footer {
        background-color: #5eb319 !important;
        padding: 0em 0em;
        margin-bottom: 0rem;
        position: relative;
        margin-top: -22em;
        height: 6em;
    }
    .grid_btn2 {
      padding: 1px;
      margin-right: 14em;
      margin-bottom: 2em;
  }
  .grid_btn3 {
    margin-right: 11em;
  }
  .btnInicio1 {
    margin-left: 0em;
    width: 22em;
    padding: 0em 0em 0em 9em;
}

.btn-menu {
  margin-left: -5.5em;
  margin-top: 1em;
  margin-top: 0em;
}
.text-btn {
  margin-left: -17.5em;
}

}
@media (min-width: 768px) and (max-width: 991px) {

  /* Estilos para pantallas medianas (tablets) */
  .grid_contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 8em);
    grid-gap: 1em;
    gap: 2em;
}
}

@media (min-width: 992px) and (max-width: 1199px) {

  /* Estilos para pantallas grandes (laptops y escritorios) */
}

@media (min-width: 1200px) {

  /* Estilos para pantallas extra grandes (monitores de escritorio) */
  /* Estilos para pantallas grandes (laptops y escritorios) */

}
